header {
  background: #cccccc;
  display: grid;
  justify-content: center;
  margin: 0 0 20px 0;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 10px 20px;
}

ul
{
  list-style-type: none;
}

#header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#developers {
  align-items: center;
  display: flex;
  justify-content: end;
  text-align: end;
}

#header-links {
  align-items: center;
  display: flex;
  justify-content: left;
}

#header-logo-img {
  width: 15%;
}

// LINKS
.nav-link {
  transition: color .4s ease;
  cursor: pointer;
}
.nav-link:hover {
  color: #FFFFFF;
}
.navbar-nav .nav-link.active {
  color: #FFFFFF;
}
